:root {
  --main-color: #0545a3;
  --main-color2: red;
  --main-color3: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

.wrapper {
  position: relative;
}
a.nav-link {
  color: #fff;
}
a.nav-link:hover {
  color: var(--main-color2);
}

.header {
  background: url(img/main.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  background-repeat: no-repeat;
}

.profile-img > img {
  height: 150px;
}

/* skills section */
.section-title {
  border-bottom: 0.7rem solid var(--main-color);
  width: 30%;
  margin: auto;
}

.skills i {
  font-size: 5rem;
}

.skills-list {
  margin: 2rem;
}
/* go up button */
#go-up {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 10px;
  bottom: 20px;
  background: rgb(173, 37, 37);

  border-radius: 50%;
  color: #fff;
  font-size: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 5px rgb(151, 151, 151, 0.5);
}
